name: OWASP Dependency Check

on:
  push:
  pull_request:

jobs:
  depchecktest:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

          pip freeze > requirements.lock


      - name: Run OWASP Dependency Check
        uses: dependency-check/Dependency-Check_Action@main
        env:
          NVD_API_KEY: ${{ secrets.NVD_API_KEY }}
        with:
          project: 'backend'
          path: '.'
          format: 'HTML'
          fail_cvss_score: 7.0
          scan_path_exclusions: |
            .git/
            .github/
          

      - name: Upload Test results
        if: always()
        uses: actions/upload-artifact@v4
        with:
           name: Depcheck report
           path: ${{github.workspace}}/reports
