name: Dependency Check

on:
  push:
  pull_request:

jobs:
  dependency_check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.11'

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

          pip install pip-audit


      - name: Run pip-audit Dependecy Check
        run: |
          pip-audit -f markdown -o pip-audit-report.md


      - name: Upload audit report
        if: always()
        uses: actions/upload-artifact@v5
        with:
           name: pip-audit-report
           path: pip-audit-report.md
           if-no-files-found: ignore