name: OWASP Dependency Check

on:
  push:
  pull_request:

jobs:
  depchecktest:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run OWASP Dependency Check
        run: |
          mkdir -p reports
          docker run --rm \
            -v ${{ github.workspace }}:/src \
            -v ${{ github.workspace }}/reports:/report \
            owasp/dependency-check:latest \
            --project "backend" \
            --scan /src \
            --format "HTML" \
            --out /report \
            --failOnCVSS 7 \

      - name: Upload Test results
        uses: actions/upload-artifact@master
        with:
           name: Depcheck report
           path: ${{github.workspace}}/reports
