name: Dependency Check

on:
  push:
  pull_request:

jobs:
  depchecktest:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

          pip install pip-audit


      - name: Run pip-audit - Python Dependecy Check
        run: |
          mkdir -p reports
          pip-audit --requirement requirements.txt --output-format html --output reports/pip-audit.html


      - name: Upload audit report
        uses: actions/upload-artifact@v4
        with:
           name: pip-audit-report
           path: reports/pip-audit.html
