name: Django CI

on:
  push:
  pull_request:

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.11]

    steps:
    - uses: actions/checkout@v6
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}

    - name: Cache Local Pip
      uses: actions/cache@v4
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-

    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run Tests
      run: |
        python -W "error::PendingDeprecationWarning" manage.py test

    - name: Verify code formatting with ruff
      run: |
        ruff format . --check

    - name: Verify code linting with ruff
      run: |
        ruff check .

    - name: Gerar Diagrama UML com PlantUML
      run: |
        pip install pylint
        pyreverse -o puml -p sisteminha sisteminha/models.py
        docker run --rm -v ${{ github.workspace }}:/data plantuml/plantuml -tpng classes_sisteminha.puml

    - name: Guardar Diagrama UML como Artefato
      uses: actions/upload-artifact@v4
      with:
        name: diagrama-uml
        path: classes_sisteminha.png